.d1
  {
    background: url(./web.jpg);
    /**background-repeat: round;**/
    background-size: cover;
    /**background-position: 20% 50%;**/
    background-position: center;
    background-attachment: fixed;
    justify-content: baseline;
  }